body {
    background-color: #0b1026;
}

h1, h2, p, a {
    color: cornsilk;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}

a:hover {
    color: rgb(255, 244, 121);
}

img {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
    max-width: 960px;
    margin: 0 auto;
}
